.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    background-color: #ff7f7f;
    height: 35px;
    float: left;
}

.headerLogo {
    animation-name: Logo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes Logo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.buttonsDiv{
    display: flex;
    justify-content: space-between;
}